body {
    background-color: rgb(25, 3, 25);
}

.projects-container {
    background-color: rgb(40, 20, 40);
    height: 100vh;
    width: auto;
    display: flex;
    justify-content: center;
}

.project-elements {
    align-self: center;
    color: white;
    z-index: 10;
    border: solid;

}

.home-button {
    border: solid;
    border-color: rgb(21, 124, 0);
    color: white;
    fill: white;
    border-radius: 100%;
    width: 30px;
    height: 30px;
    background-color: rgb(193, 255, 193);
    padding: 10px;
    position: absolute;
    transform: translate(-200px, 30px);
}

